/* @import '@skeletonlabs/skeleton/themes/terminus'; */
/* @import '@skeletonlabs/skeleton/themes/terminus'; */

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@import '@skeletonlabs/skeleton';
@plugin '@tailwindcss/typography';
@import '../terminuscustom';
/* @import '@skeletonlabs/skeleton/themes/terminus'; or your chosen theme */
@import '@fontsource/jetbrains-mono';

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
}
